cairosvg
ipykernel
ipython
jupyter
jupyter_client
jupyter_core
jupytext
kaleido
matplotlib
nbformat
notebook
pillow
pip
pipx
plotly
pnglatex
pycairo
pylatexenc
pynvim
pyperclip
requests
stig
torch
trash-cli
urlscan
websocket-client
wheel
