cairosvg
ipykernel
ipython
jupyter
jupyter_client
jupyter_core
jupytext
kaleido
nbformat
notebook
pillow
pip
pipx
plotly
pnglatex
pycairo
pylatexenc
pynvim
pyperclip
requests
stig
trash-cli
urlscan
websocket-client
wheel
