cairosvg
ipykernel
ipython
jupyter_client
jupyter_core
jupytext
kaleido
nbformat
notebook
pcairosvg
pillow
pip
pipx
plotly
pnglatex
pycairo
pynvim
pyperclip
requests
trash-cli
ueberzug
urlscan
virtualenv
websocket-client
wheel
